@using Application.viewModels;
@model List<PokeviewModel>
@{
    ViewData["Title"] = "Pokedex";
}
<br/><br/><br/>

<div class="container" align="center" style="background-color: #C7DBD2">

 <a class="nav-link " asp-area="" asp-controller="poke" asp-action="Index"><h1 class="text-success">Pokedex</h1></a>
<div class="row row-cols-2">


 <form asp-controller="poke" asp-action="Index" method="post" >
  <input  class="form-control " type="search" min="1" name="findnombre" placeholder="Busqueda por nombre" required="required"/>
  <button type="submit" class="btn btn-success mt-2 mb-2">
       <i class="fa-solid fa-magnifying-glass"></i> Busqueda por nombre</button>
</form>

 <form asp-controller="poke" asp-action="Index" method="post" >
  <select class="form-select" name="findregion"  required>
  <option value=1>Kanto</option>
  <option value=2>Isla Sete</option>
  <option value=3>Sinnoh</option>
  <option value=4>Johto</option>
  <option value=5>Hoenn</option>
  <option value=6>Osaka</option>
  </select>
   <button type="submit" class="btn btn-success mt-2 mb-2">
       <i class="fa-solid fa-magnifying-glass"></i> Busqueda por Region</button>
     </form>
     
<br/>
 </div>
 </div>

<br/><br/>
@if (Model != null )
        {
<div class="cards-wrapper">

     <div class="row row-cols-4">
        
            @foreach(var item in Model)
    {
        <div class="card zoom" style="width: 18rem; background-color: #C7DBD2 ">
    <h4 class="card-title mt-2" align="center"> <strong>@item.Id</strong>  @item.Name</h4>
  <img class="card-img-top " src=@item.ImgUrl alt="Card image cap">
  <div class="card-body">
    <p class="card-text"> @item.Description
        <br/>
    <strong>Tipos: </strong> @item.PrimaryType @item.SecondaryType
     <br/>
    <strong>Region: </strong>  @item.RegionId
  </div>
</div>
    }
    </div>
</div>
 }





     

        
        